<a href="https://colab.research.google.com/github/ashikatikur0/test/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SECTION A — STRINGS**

**Q1** :
  
  Write a program that takes a user’s full name and:

- Prints the name in **title case**

- Prints the **first and last character**

- Prints the name **reversed**

- Prints how many times the letter **"a"** appears

- Removes all spaces from the name

In [10]:
#name in title case

my_name = input("Your Name : \n")

title_name = my_name.title()
print(title_name)

Your Name :
md atikur rahman ashik
Md Atikur Rahman Ashik
4

In [ ]:
# print first and last character

print(my_name[0])    # print first character
print(my_name[-1])   # print last character

m
k

In [ ]:
# reverse my name using reverse() function

reverse_name = my_name[::-1]
print(reverse_name)

kihsa namhar rukita dm

In [12]:
#Prints how many times the letter "a" appears

print(my_name.count("a"))

4

In [16]:
#- Removes all spaces from the name
#normal print with white space

print(f" {my_name} ")

#print without any white space

print(my_name.strip())

 md atikur rahman ashik
md atikur rahman ashik

**Q2 :**


Given:

s = "Learning Python Is Fun"

Write code to:
 a) Convert to lowercase
 b) Replace "Fun" with "Awesome"
 c) Print the 3rd to 10th characters
 d) Check if the string ends with "Fun"
 e) Split the string into a list of words

In [17]:
s = "Learning Python Is Fun"

# Convert to lowercase

print(s.lower())

learning python is fun

In [19]:
#Replace "Fun" with "Awesome"

print(s.replace("Fun" ,"Awesome"))

Learning Python Is Awesome

In [24]:
#Print the 3rd to 10th characters

#print 3rd character
print(s[3])

#print 10th character
print(s[10])

r
y

In [26]:
#Check if the string ends with "Fun"

print(s.endswith("Fun"))    # if it's return "true" so the last string is fun , either it's false

True

In [27]:
# Split the string into a list of words using split() function
print(s.split())

['Learning', 'Python', 'Is', 'Fun']

# **SECTION B — NUMBERS, MATH & OPERATOR PRECEDENCE**

Q3.
Write a program that evaluates and prints the result of:

5 + 3 * 4

(5 + 3) * 4

100 / 6 and 100 // 6

2 ** 5 * 3

Explain each result using Python comments only.

In [28]:
print(5 + 3 * 4)     #  according to operator worklow , firstly works multiplication (3 * 4)= 12 then works addition 12 + 5 then the  result stands : 17

17

In [30]:
print((5 + 3)* 4)   #  according to operator workflow , Parentheses() ->  have higher precedence, so firstly execute : 5 + 3 = 8, then Then multiplication: 8 * 4 = 32

32

In [75]:
print(100 / 6)    # Normal division -> returns a float value (16.6666666667)

print(100 // 6)   # Floor division -> returns the whole number part only (16)

16.666666666666668
16

In [35]:
print(2 ** 5 * 3)    #  according to operator worklow ,** has higher precedence than *, so 2 ** 5 execute first & returns 32, then 32 multiply by 3 ( 32 * 3 ) , and final result comes 96

96

**Q4**

Using the math module, compute and print:

In [37]:
import math
print(math.sqrt(225))     # using for square-root

15.0

In [39]:
print(math.sin(90))      # shows sin 90 degree value direct

0.8939966636005579

In [41]:
print(math.pow(8,3))   # pow stands for power , 8 * 8 * 8

512.0

In [42]:
pi_value = math.pi                # give the value of pi
pi_rounded = round(pi_value, 4)   # it give 4 value after dot .

print(pi_rounded)

3.1416

# **SECTION C — IF STATEMENTS & LOGICAL OPERATORS**

**`Q5.`**

Write a program that takes any number from the user and:

- Prints Positive, Negative, or Zero

- Prints Even or Odd

In [79]:
user_num = int(input("Enter Your Chossen Number : "))

if user_num  > 0 :
  print(f"{user_num} is positive  Number")

elif user_num < 0 :
  print(f"{user_num} is Negative Number ")

else:
  print(" The Number is Zero !")

Enter Your Chossen Number : -8
-8 is Negative Number

In [77]:
user_num = int(input("Enter Your Chossen Number : "))

if  user_num == 0 :                 #firstly define it so that compiler don't print 0 as even number
  print("this number is zero")

elif user_num  % 2 ==0 :
  print(f"{user_num} is a Even  Number")

elif user_num %2 == 1:
  print(f"{user_num} is  a Odd Number ")

Enter Your Chossen Number : 5
5 is  a Odd Number

**Q6.**

Write a program that takes three subject marks from the user and:

- Calculates total

- Calculates average

- If all marks ≥ 40 → print Pass, otherwise Fail

- If average ≥ 75 → print Distinction, otherwise Normal Pass

- Use logical operators (and, or).

In [91]:
# task -> 1

sub_1 = int(input("Enter Your English subject mark : "))  # take the 3 subjects marks
sub_2 = int(input("Enter Your Math subject mark : "))
sub_3 = int(input("Enter Your Python subject mark : "))
print(" ")

sub_total = sub_1 + sub_2 + sub_3                        # sum of 3 subjects
print(f"Your Total Mark is {sub_total}")

Enter Your English subject mark : 78
Enter Your Math subject mark : 76
Enter Your Python subject mark : 89

Your Total Mark is 243

In [92]:
# task -> 2

sub_avarage = math.floor(sub_total / 3)                # avarage of 3 subjects
print(f"Your Avarage Mark is {sub_avarage}")

Your Avarage Mark is 81

In [93]:
# task -> 3

if sub_1 >= 40 and sub_2 >= 40 and sub_3 >= 40 :    # checking the student pass or fail
  print("You Are Pass")
else:
    print("Result: Fail")

You Are Pass

In [94]:
# task -> 4

if sub_avarage >= 75 :                               # cheak the avarage , is it Distinction  ? or normal pass ?
  print("Yor Have Passed With Distinction ")
else :
  print("You Have Passed Normally")

Yor Have Passed With Distinction

# **SECTION D — LOOPS**

**Q7**. While Loop
Write a program that prints numbers from 1 to 50 but:

- Skip all numbers divisible by 4

- Stop completely when number reaches 37

In [112]:

i = 1               # start with 1
while i <= 50 :
  if i == 37:       # If the number reaches 37, stop the loop completely
        break

  if i % 4 == 0:    # If number is divisible by 4, skip this number and move to the next
        i += 1      # increment before continue
        continue    # skip print the number, those are devided by 4
  print(i)
  i += 1            # increment by 1 by 1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

# Q8. For Loop

Write a program that prints the multiplication table of a user-entered number from 1 to 12.

In [114]:
# Take number from user
num = int(input("Enter a number: "))

# Print multiplication table from 1 to 12
for i in range(1, 13):
    print(num, "x", i, "=", num * i)

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

**Q9. Nested Loops**
Print the following number pattern using nested loops:

1

12

123

1234

12345

In [1]:
for i in range (1,6):        # intiate i from 1
  for j in range  (1, i+1) : # outer loop
      print(j, end="")      # Print numbers on the same line
  print()
  print()                   # Move to next line

1

12

123

1234

12345

# **SECTION E — LISTS & LIST COMPREHENSION**

**Q10. List Methods**

Given:

nums = [12, 4, 8, 1, 9, 3, 4, 4]

Write code to:

- Sort the list

- Insert 100 at index 2

- Remove the value 1

- Find and print the max and min values

- Reverse the list

- Count how many times 4 appears

In [25]:
# task 1

nums = [12, 4, 8, 1, 9, 3, 4, 4]
nums.sort()                      #sort() use for update a list to mixed case to lower to uppar case
print(nums)

[1, 3, 4, 4, 4, 8, 9, 12]

In [14]:
# task 2

nums = [12, 4, 8, 1, 9, 3, 4, 4]
nums.insert(2,100)               # insert() use for insert any element to a list , firstly define the index then define the value
print(nums)

[12, 4, 100, 8, 1, 9, 3, 4, 4]

In [23]:
# task 3

nums = [12, 4, 8, 1, 9, 3, 4, 4]
nums.remove(1)                    # remove() function use for remove any element from a list
print(nums)

[12, 4, 8, 9, 3, 4, 4]

In [26]:
# task 4

maximum = max(nums)   # Find max value in the list
minimum = min(nums)   # Find Min Vlaue in the list

print(f"maximum is {maximum}")
print(f"minimum is {minimum}")

maximum is 12
minimum is 1

In [32]:
# task 5
print(nums)
print(" ")

print("after reversing the list")
print(" ")

nums.reverse()    # reverse() function use for reverse all entities in a list
print(nums)

[12, 9, 8, 4, 4, 4, 3, 1]

after reversing the list

[1, 3, 4, 4, 4, 8, 9, 12]

In [36]:
# task 6

count_four = nums.count(4) #  count() function  use for count the number which we wanna count in any list
print(count_four)

3

**Q11. List Processing**

Create a list of 10 integers.
 Write a program that:

- Prints the list

- Prints only the odd numbers

- Prints only the numbers greater than 20

- Replaces all numbers less than 10 with 0

In [45]:
#task 1
# Create a list of 10 integers

num = [8, 14, 6, 78, 19, 4, 18, 42, 7, 21]

print(f"orginal list :  {num}")

orginal list :  [8, 14, 6, 78, 19, 4, 18, 42, 7, 21]

In [46]:
 # task 2

for n in num :
  if n % 2 !=0:      # if devided by 2 , so that the value will not return

    print(f"{n} is odd number")

19 is odd number
7 is odd number
21 is odd number

In [73]:
# task 3

for m in num:
  if m > 20 :
    print(f"the numbers greater than is : {m}")

the numbers greater than is : 78
the numbers greater than is : 42
the numbers greater than is : 21

In [71]:
# task 4

for i in range(len(num)):
    if num[i] < 10:
        num[i] = 0
        print(num)

[0, 14, 0, 78, 19, 0, 18, 42, 0, 21]
[0, 14, 0, 78, 19, 0, 18, 42, 0, 21]
[0, 14, 0, 78, 19, 0, 18, 42, 0, 21]
[0, 14, 0, 78, 19, 0, 18, 42, 0, 21]

**Q12. List Comprehension**

Using list comprehension, create a list of all numbers from 1 to 100 that are:

- Divisible by 3

- But not divisible by 5

In [74]:
# task 5

nums = [n for n in range(1, 101) if n % 3 == 0 and n % 5 != 0]      # Select only the numbers divisible by 3 AND not divisible by 5

print(nums)

[3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]